/* Main settings */ body {
  font-family: 'Montserrat', sans-serif;
}

ul, li {
  list-style-type: none;
}

h1,
h2,
h3 {
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 14px;
}

.text-common-settings,
.titles {
  font-family: 'Roboto Slab', serif;
}

.text-common-settings {
  font-size: 14px;
}

.titles {
  font-size: 16px;
  padding: 50px 0 50px;
}

.services,
.contact,
.team,
.portfolio {
  padding: 70px 0;
  text-align: center;
  color: #555555;
}

/* header */
.header {
  text-align: center;
  color: white;
  position: relative;
  width: 100%;
  height: 700px;
  background: url(../img/bg.jpg);
  background-size: cover;
  background-position: bottom;
}

.header-text {
  padding: 100px 0;
}

.header h1 {
  font-size: 48px;
  z-index: 10;
}

.header p {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  z-index: 10;
}

.button-start {
  position: relative;
  font-size: 16px;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
  width: 170px;
  height: 50px;
  color: white;
  border: 3px solid white;
  z-index: 10;
  border-radius: 5%;
  overflow: hidden;
  font-weight: bold;
}

.button-start span {
  position: relative;
  z-index: 110;
  transition: 1s;
}

.button-start:hover span {
  color: tomato;
}

.button-start .wawe {
  position: absolute;
  top: calc(100% + 22px);
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: 1s;
  z-index: 100;
}

.button-start:hover .wawe {
  top: 0;
}

.button-start .wawe::before {
  position: absolute;
  content: '';
  top: -22px;
  left: 0;
  width: 100%;
  height: 22px;
  z-index: 1000;
  background: url(../img/wave.png);
  animation: wave 0.5s linear infinite
}

@keyframes wave {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 118px;
  }

}

/* clouds */
.header #text {
  position: relative;
  color: #ffffff;
}

.header .clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header .clouds img {
  z-index: 1;
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: animate calc(3s * var(--i)) linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  25%,75% {
    opacity: 1
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

/* logo*/
.logo {
  font-size: 24px;
  color: white;
  font-weight: bold;
  z-index: 10;
}

/* Navigation */
nav #marker {
  position: absolute;
  left: 0;
  height: 3px;
  width: 0;
  background: #ffffff;
  bottom: 4px;
  transition: 0.5s;
  border-radius: 4px;
}

.menu-item {
  margin: 0 15px 0 15px;
  z-index: 10;
}

.menu-item a {
  font-size: 17px;
  color: white;
  font-weight: bold;
}

.menu-item a:hover {
  text-decoration: none;
  color: tomato;
  transition: 1s;
}

/* Section services*/
.icon {
  color: tomato;
  font-size: 50px;
}

.circle {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 90px;
  height: 90px;
  margin: 0 auto 35px;
  border: 1px solid #dddddd;
}

.services-box {
  padding-bottom: 30px;
}

.services-box:hover .circle {
  background: tomato;
  border-radius: 1px solid #dddddd;
  transition: 1s;
}

.services-box:hover .icon {
  color: white;
  transition: 1s;
}

/*team*/
.team {
  background: linear-gradient(to right, #dbdde1, #ffffff);
}

.team-inform {
  padding: 50px 0;
}

.team-spase {
  padding: 30px 0 25px;
}

.team-card {
  padding: 5px;
}

.img-wrapper
{
	position: relative;
	overflow: hidden;
}

.img-wrapper:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 180%;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,.3);
	z-index: 1;
	transform: skew(45deg);
	transition: .5s;
}

.img-wrapper:hover:before
{
	left: -180%;
}

.img-wrapper img
{
	height: 350px;
	width: 270px;
	filter: grayscale(100%);
	transition: 2s;
}
.img-wrapper:hover img
{
	filter: grayscale(0%);
	transform: scale(1.1);
}

.img-wrapper h2
{
	background: tomato;
	font-family: Poppins;
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 10px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	transform: perspective(400px) rotateY(90deg);
	transform-origin: right;
	transition: 1s;
}

.img-wrapper p
{
	font-family: Poppins;
  color: #000;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: bold;
}

.img-wrapper:hover h2
{
	transform: perspective(400px) rotateY(0deg);
}

.img-wrapper ul
{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li
{
	background: #333;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	transform: perspective(800px) rotateY(90deg);
	transition: .5s;
	transform-origin: left;
}

.img-wrapper:hover ul li
{
	transform: perspective(800px) rotateY(0deg);
}

.img-wrapper:hover ul li:nth-child(1)
{
	transition-delay: .2s;
}

.img-wrapper:hover ul li:nth-child(2)
{
	transition-delay: .6s;
}

.img-wrapper:hover ul li:nth-child(3)
{
	transition-delay: .8s;
}

.img-wrapper:hover ul li:nth-child(4)
{
	transition-delay: 1s;
}

.img-wrapper ul li a
{
	color: tomato;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li i
{
	color: tomato;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li i:hover
{
	color: #fff;
	background: rgba(255,255,255,0);
}

/* portfolio ( buttons + image)*/
.portfolio-card{
  margin-bottom: 25px;
}

.portfolio-box {
  box-shadow: 0 5px 10px rgba(0,0,0,.8);
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  background-color: #000;
}

.portfolio-box::before,
.portfolio-box::after
 {
  content: '';
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  transition: 0.5s;
  box-sizing: border-box;
  opacity: 0;
}

.portfolio-box::before {
  border-top: 2px solid tomato;
  border-bottom: 2px solid tomato;
  transform: scaleX(0);
}

.portfolio-box::after {
  border-left: 2px solid tomato;
  border-right: 2px solid tomato;
  transition: 0.5s;
  transform: scaleY(0);
}

.portfolio-box:hover::before {
  transform: scaleX(1);
  opacity: 1;
}

.portfolio-box:hover::after {
  transform: scaleY(1);
  opacity: 1;
}

.portfolio-box img {
  transition: 0.5s;
}

.portfolio-box:hover img {
  opacity: .2;
  transform: scale(1.2);
}

.portfolio-text {
  display: none;
}

.portfolio h4{
  margin: 0;
  padding: 0;
  color: white;
  transition: 0.5s;
  font-weight: bold;
  transform: translateY(-50px);
  opacity: 0;
  visibility: hidden;
}

.portfolio p {
  margin: 0;
  padding: 0;
  transition: 0.5s;
  font-weight: bold;
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
}

.portfolio-text:hover h4,
.portfolio-text:hover p {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition-delay: 0.2s;
}

div[filter]:hover .portfolio-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: tomato;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  left: 0;
  z-index: 3;
  text-align: center;
}

.button {
  margin-top: 60px;
  margin-bottom: 70px;
  padding-right: 30px;
  background: white;
  border: none;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
}

.portfolio button:hover,
.focused {
  background: transparent;
  color: tomato;
  cursor: pointer;
}

.portfolio img {
  width: 100%;
}

/*section touch*/
.touch {
  background-image: url(../img/section.png);
  background-size: cover;
  background-position: 50% 100%;
  padding: 100px 0;
  text-align: center;
}

.touch-title {
  margin-bottom: 50px;
  color: white;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

/* section blog*/
.blog {
  padding: 100px 0;
}

.blog-head {
  text-align: center;
}

.blog-elem {
  text-align: left;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #dddddd;
}

.blog-data {
  padding-top: 50px 0;
  text-align: center;
  width: 75px;
  height: 75px;
  border: solid 2px #555555;
  margin-right: 30px;
  margin-bottom: 20px;
}

.blog-data h4 {
  font-size: 24px;
  padding-top: 10px;
  margin: 0;
}

.blog-text h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #555555;
}

.blog-text p, .blog-text a {
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
  font-style: italic;
  color: #555555;
}

.more {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  color: #555555;
  text-transform: uppercase;
  font-weight: bold;
}

.blog-elem:hover a, .blog-elem:hover h4 {
  text-decoration: none;
  color: tomato;
}

/* slider */
.slider {
    background: linear-gradient(to right, #dbdde1, #ffffff);
    padding: 50px 0;
    text-align: center;
    color: #555555;
}

.slider-text {
  text-align: center;
  font-style: italic;
  color: #555555;
}

.slider-text h4 {
  font-size: 18px;
  padding-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}

.slider-text p {
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}

.slider img {
  padding: 0 0 70px 50px;
}


/* section contact*/
.contact-block {
  text-align: left;
  color: #555555;
}

.contact-block p {
  font-size: 12px;
}

.contact-icon {
  font-size: 25px;
  width: 15px;
  height: 20px;
  margin-right: 20px;
}

.form-control {
  margin-right: 30px;
  margin-bottom: 20px;
  border: 1px solid #555555;
}

.form-control {
  font-size: 12px;
  text-transform: uppercase;
}

.contact-button {
  position: relative;
  margin-right: 35px;
  width: 170px;
  height: 40px;
  line-height: 35px;
  background: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  border: 1px solid #555555;
  text-transform: uppercase;
  cursor: pointer;
  transition: 1s;
  letter-spacing: 2px;
  overflow: hidden;
  font-weight: bold;
}

.contact-button span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: 0s ease-in;
}

.contact-button:hover span {
  transition: 0.4s ease-in;
  transform: translateY(-100%);
  color: #fff;
}

.contact-button::before {
  position: absolute;
  content: "";
  bottom: -250px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.4s ease-in;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: #222020;
}

.contact-button:hover::before {
  bottom: -100px;
}

/*footer*/
.footer {
  padding: 70px 0 60px;
  background-color: #222020;
}

.footer-text {
  padding-top: 35px;
  color: white;
  text-align: center;
  font-weight: normal;
  font-family: 'Roboto Slab', serif;
}

.social ul {
  position: relative;
}

.social li {
  position: relative;
  list-style: none;
  cursor: pointer;
  line-height: 1;
}

.social li>a {
  text-decoration: none;
}

.social li>a .fa {
  font-size: 3em;
  color: #ffffff;
}

.social li::before {
  position: absolute;
  font-family: fontAwesome;
  top: 0;
  left: 0;
  font-size: 3em;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.social li:nth-child(1)::before {
  content: "\f099";
  border-bottom: 4px solid #1da1f2;
  color: #1da1f2;
}

.social li:nth-child(2)::before {
  content: "\f16d";
  border-bottom: 4px solid #fd5949;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
}

.social li:nth-child(3)::before {
  content: "\f232";
  border-bottom: 4px solid #25d366;
  color: #25d366;
}

.social li:nth-child(4)::before {
  content: "\f16a";
  border-bottom: 4px solid #ff0000;
  color: #ff0000;
}

.social li:hover::before {
  height: 100%;
}

/*adaptive  */
.menu-icon {
  display: none;
}

@media screen and (max-width: 990px) {
  nav {
    display: none;
  }

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-icon {
    background: transparent;
    border: 2px solid white;
    color: white;
    font-size: 25px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: block;
  }

  .logo a {
    font-size: 35px;
  }

  .head-prev {
    padding: 100px 0;
  }

  .head-title {
    font-size: 30px;
  }

  .head-text {
    font-size: 20px;
  }

  .blog-item {
    margin-bottom: 20px;
  }
}
